

.card {
  padding: 2em;
  background: pink;
  border-radius: 1em;
  margin: 2em;
  height: 200px;
  width: 400px;
  box-shadow: 0 0 2em #0003;
}
.navbar {
  position: fixed;        /* stays on top */
  top: 0;
  left: 0;
  width: 100%;

  height: 60px;
  background-color: lightblue;

  display: flex;
  align-items: center;
  padding: 0 1.5rem;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}




