.button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    gap: 30px;
    width: fit-content;
    margin: 10px auto;
    border: 2px solid darkblue;
}
.header{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid darkgray;
}