.button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    gap: 30px;
    width: fit-content;
    margin: 10px auto;
    border: 2px solid darkblue;
}